/*remueve la margen*/
body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(150deg, #0a52ee, #d62620);
    height: 100vh;

}
/*posicion*/
.formulario{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;

}
.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;

}

form .username,
form .contrasena{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}

.username input,
.contrasena input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none; 
    outline: none;
}
.username label,
.contrasena label {
    position: absolute;
    top: 50%;
    left: 5%;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6c3483;
    transition: .5s;

}

/* Mostramos el texto del label al pasar por encima */
form .username label,
form .contrasena label {
    position: absolute;
    top: 50%;
    left: 5%;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}


form .username input:focus,
form .contrasena input:focus {
    border-bottom: 2px solid #6c3483;
}
form .username input:focus + label,
form .contrasena input:focus + label {
    top: -30px;
    left: 0;
    font-size: 14px;
    color: #6c3483;
}


form .username input:not(:focus),
form .contrasena input:not(:focus) {
    border-bottom: 2px solid #adadad;
}
form .username input:not(:focus) + label,
form .contrasena input:not(:focus) + label {
    top: 50%;
    left: 5%;
    font-size: 16px;
    color: #adadad;
}

.t_c {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .terms-link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.success {
    position: absolute;
    top: 50px;
    color: #4CAF50;
    font-size: 18px;
}
.error {
    position: absolute;
    top: 50px;
    color: red;
    font-size: 18px;

}
@media(max-width:991px){
    body{
        padding: 340px;
    }
    form {
        width: 340px;
    }
}